.logo-link {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: x-large;
  color: rgba(57, 126, 255, 0.849);
  text-decoration: none;
}

.black {
  color: black;
}

.white {
  color: white;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.header {
  padding: 25px 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 95px;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgba(57, 126, 255, 0.849);
}

.address-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.address-link:hover {
  color: rgba(57, 126, 255, 0.849)
}

.nav-list {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  gap: 50px;
}

address {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  display: flex;
  gap: 50px;
}

.start-main-section {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #2f3440;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.main-h2 {
  margin-top: 50px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #2d8cf0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 50px;
  margin-top: 5px;
}

.btn:hover {
  background-color: #6aa3e9;
}

.main-section {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rowed-li {
  display: flex;
  justify-content: space-between;
}

.card {
  background: white;
  width: 270px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.list-card {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 0 50px;
}

.footer-container {
  padding: 75px 0;
  background-color: #2f3440;
}

.footer-logo-link {
  padding: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: x-large;
  color: rgba(57, 126, 255, 0.849);
  text-decoration: none;
}

.footer-p {
  color: white;
  padding: 0 0 0 50px;
}

.footer-address-link {
  color: rgb(153, 150, 150);
  padding: 0 0 20px 50px;
  display: flex;
  flex-flow: column
}