.logo-link {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: x-large;
  color: rgba(57, 126, 255, 0.849);
}

span {
  color: black;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.header {
  padding: 25px 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  gap: 95px;
}

.nav-list {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  gap: 50px;
}

address {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  display: flex;
  gap: 50px;
}

.start-main-section {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #2f3440;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #2d8cf0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #6aa3e9;
}

.main-section {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rowed-li {
  display: flex;
  justify-content: space-between;
}

.card {
  box-shadow: 
}
